<section class="content">
  <header class="content__title">
    <h1>Marcelo Pasut</h1>
    <small>Software Ingenieer</small>
  </header>

  <div class="card" id="profile-main">
    <div class="pm-overview c-overview">
      <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside">
        <div class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x mCS_y_hidden mCS_no_scrollbar_y">
          <div class="pmo-pic">
            <div class="p-relative">
              <a href="">
                <img class="img-responsive" src="https://img.buzzfeed.com/buzzfeed-static/static/2014-04/tmp/webdr02/2/17/0e7cd6da3ce720d983515a9ab831a530-3.jpg?downsize=715:*&output-format=auto&output-quality=auto">
              </a>
              <div class="dropdown pmop-message">
                <button class="btn bgm-white btn-float dropdown-toggle waves-effect waves-circle">
                  <i class="zmdi zmdi-comment-text-alt"></i>
                </button>
              </div>
              <a href="" class="pmop-edit">
                <i class="zmdi zmdi-camera"></i>
                <span class="hidden-xs">Cambiar imagen de perfil</span>
              </a>
            </div>
            <div class="pmo-stat">
              <h2 class="m-0 c-white">Marcelo Pasut</h2>
              <span>Ingeniero</span>
            </div>
          </div>
          <div class="pmo-block pmo-contact hidden-xs">
            <h2>Contacto</h2>

            <ul>
              <li><i class="zmdi zmdi-phone"></i> 15-6408-0807</li>

              <li><i class="zmdi zmdi-email"></i>
                <a href="mailto://pasutmarcelo@gmail.com">
                  pasutmarcelo@gmail.com
                </a></li>


              <li><i class="zmdi zmdi-facebook-box"></i> mpasut</li>
              <li><i class="zmdi zmdi-twitter"></i> @LaMaldicionDeMandos </li>
              <li>
                <i class="zmdi zmdi-pin"></i>
                <address class="m-b-0">
                  Lavalleja, <br/>
                  1745, <br/>
                  Quilmes Oeste, <br/>
                  Buenos Aires
                </address>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
